/Prototipos/presentacionSpringV1/build/
/Prototipos/PrototipoBusquedaWebSpring/nbproject/private/
/Prototipos/PrototipoBusquedaWebSpring/build/
/Prototipos/PrototipoBusquedaWebSpring/dist/
/Prototipos/PrototipoWebServices/dist/
/Prototipos/PrototipoWebServices/nbproject/private/
/Prototipos/PrototipoWebServices/build/
/Prototipos/PrototipoBusquedaWebSpring/dist/
/Prototipos/PrototipoBusquedaWebSpring/nbproject/private/
/Prototipos/PrototipoBusquedaWebSpring/build/
/Prototipos/LuceneDB/dist/
/Prototipos/LuceneDB/nbproject/private/
/Prototipos/LuceneDB/build/
/Prototipos/PrototipoBusquedaWeb/dist/
/Prototipos/PrototipoBusquedaWeb/nbproject/private/
/Prototipos/PrototipoBusquedaWeb/build/

