/Prototipos/presentacionSpringV1/build/
/Prototipos/PrototipoBusquedaWebSpring/nbproject/private/
/Prototipos/PrototipoBusquedaWebSpring/build/
/Prototipos/PrototipoBusquedaWebSpring/dist/
/Prototipos/PrototipoWebServices/dist/
/Prototipos/PrototipoWebServices/nbproject/private/
/Prototipos/PrototipoWebServices/build/