<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PruebaStock</servlet-name>
        <servlet-class>prototipo.ConsultaStock.PruebaStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerLaboratorios</servlet-name>
        <servlet-class>prototipo.ConsultaStock.ObtenerLaboratorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerOfertas</servlet-name>
        <servlet-class>prototipo.ConsultaStock.ObtenerOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreciosRecetas</servlet-name>
        <servlet-class>prototipo.ConsultaStock.PreciosRecetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerInfoLaboratorio</servlet-name>
        <servlet-class>prototipo.ConsultaStock.VerInfoLaboratorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerInfoProducto</servlet-name>
        <servlet-class>prototipo.ConsultaStock.VerInfoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerComprobantesFecha</servlet-name>
        <servlet-class>prototipo.ConsultarComprobantes.ObtenerComprobantesFecha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerComprobantesNumero</servlet-name>
        <servlet-class>prototipo.ConsultarComprobantes.ObtenerComprobantesNumero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerInfoComprobante</servlet-name>
        <servlet-class>prototipo.ConsultarComprobantes.VerInfoComprobante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearPdf</servlet-name>
        <servlet-class>prototipo.ConsultaStock.crearPdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PruebaStock</servlet-name>
        <url-pattern>/PruebaStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerLaboratorios</servlet-name>
        <url-pattern>/ObtenerLaboratorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerOfertas</servlet-name>
        <url-pattern>/ObtenerOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreciosRecetas</servlet-name>
        <url-pattern>/PreciosRecetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerInfoLaboratorio</servlet-name>
        <url-pattern>/VerInfoLaboratorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerInfoProducto</servlet-name>
        <url-pattern>/VerInfoProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerComprobantesFecha</servlet-name>
        <url-pattern>/ObtenerComprobantesFecha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerComprobantesNumero</servlet-name>
        <url-pattern>/ObtenerComprobantesNumero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerInfoComprobante</servlet-name>
        <url-pattern>/VerInfoComprobante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearPdf</servlet-name>
        <url-pattern>/crearPdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/Start.jsp</welcome-file>
    </welcome-file-list>
</web-app>
