@charset "utf-8";

#buscador {
    float:left;
    margin-top: 3px;
} 

#buscador > form {
    margin: 0px 0px 0px !important;
}

#buscador input[type=search]{
     font-size: 14px;
     height:20px;
     width: 150px;
     border: 1px solid transparent;
     padding:2px;
     font-style:italic;
     margin-bottom: 0px !important;
}

#buscador input[type=submit]{
     margin-top: 0px !important;
     width: 24px;
}

#buscar {
    margin-top: 3px;
    padding: 3px 11px;
}